/*This is to style the revenue dashboard page*/
  #profit-graph {
    width: 800px;
    height: 600px;
    margin: 0 auto;
   
}
.plotly-colors {
    background-color: #d82c2c;
    border: 1px solid #10c1a0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.plotly-colors path {
    fill-opacity: 0.7;
}
.plotly-colors .point {
    stroke-width: 2;
}
.plotly-colors .line {
    stroke-width: 2;
}